<!DOCTYPE html>
<html>
<head>
	<title>Buses Information</title>
	<style type="text/css">
		.divs
		{
			height: 80px;
			width: 50px;
			background-color: #99ff99;
		}
		body
		{
			text-align: center;
		}
		/*#d00
		{
			background-color: #e2a4a4;
		}*/
		
		</style>
</head>
<body>
	<h1 align="center"> Bus Seat Details </h1>
	<div style="border: 1px solid black; display: inline-block;">
		<table>
			<tr>
				<td><div id="d00" class="divs"></div></td>
				<td><div id="d01" class="divs"></div></td>
				<td><div id="d02" style="height: 80px; width: 50px"></div></td>
				<td><div id="d03" class="divs"></div></td>
				<td><div id="d04" class="divs"></div></td>
				<td><div id="d05" class="divs"></div></td>
			</tr>
			<tr>
				<td><div id="d10" class="divs"></div></td>
				<td><div id="d11" class="divs"></div></td>
				<td><div id="d12" style="height: 80px; width: 50px"></div></td>
				<td><div id="d13" class="divs"></div></td>
				<td><div id="d14" class="divs"></div></td>
				<td><div id="d15" class="divs"></div></td>
			</tr>
			<tr>
				<td><div id="d20" class="divs"></div></td>
				<td><div id="d21" class="divs"></div></td>
				<td><div id="d22" style="height: 80px; width: 50px"></div></td>
				<td><div id="d23" class="divs"></div></td>
				<td><div id="d24" class="divs"></div></td>
				<td><div id="d25" class="divs"></div></td>
			</tr>
			<tr>
				<td><div id="d30" class="divs"></div></td>
				<td><div id="d31" class="divs"></div></td>
				<td><div id="d32" style="height: 80px; width: 50px"></div></td>
				<td><div id="d33" class="divs"></div></td>
				<td><div id="d34" class="divs"></div></td>
				<td><div id="d35" class="divs"></div></td>
			</tr>
			<tr>
				<td><div id="d40" class="divs"></div></td>
				<td><div id="d41" class="divs"></div></td>
				<td><div id="d42" style="height: 80px; width: 50px"></div></td>
				<td><div id="d43" class="divs"></div></td>
				<td><div id="d44" class="divs"></div></td>
				<td><div id="d45" class="divs"></div></td>
			</tr>
			<tr>
				<td><div id="d50" class="divs"></div></td>
				<td><div id="d51" class="divs"></div></td>
				<td><div id="d52" class="divs"></div></td>
				<td><div id="d53" class="divs"></div></td>
				<td><div id="d54" class="divs"></div></td>
				<td><div id="d55" class="divs"></div></td>
			</tr>
		</table>
	</div>
<script>
	{% for post in posts %}
		if({{post['info']}})
			document.getElementById("{{post['no']}}").style.backgroundColor = "#e2a4a4";
	{% endfor %}
</script>
</body>
</html>